body {
    padding-top: 6.5rem;
    padding-bottom: 5rem;

    /*
    width: 100%;
    height: 100vh;
    background: #444;*/

    background: -webkit-linear-gradient(315deg, #222, #333, #444, #555) fixed;
    background: -o-linear-gradient(315deg, #222, #333, #444, #555) fixed;
    background: -moz-linear-gradient(315deg, #222, #333, #444, #555) fixed;
    background: linear-gradient(315deg, #222, #333, #444, #555) fixed;

    color: white;
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    text-emphasis-color: white;

    /*
    background: -webkit-linear-gradient(315deg,#adcbe3,#63ace5,#4b86b4,#2a4d69) fixed;
    background: -o-linear-gradient(315deg, #adcbe3, #63ace5, #4b86b4, #2a4d69) fixed;
    background: -moz-linear-gradient(315deg, #adcbe3, #63ace5, #4b86b4, #2a4d69) fixed;
    background: linear-gradient(315deg, #adcbe3, #63ace5, #4b86b4, #2a4d69) fixed;
    */
}

h1,h2,h3,h4,h5{
    cursor: default;
}
  

h1, h2 {
    font-weight: bold;
}

h1 {
    margin-bottom: 2.2rem;
}

h2 {
    margin-bottom: 1.8rem;
}

.mydatatable {
    background-color: white;
}

.body-datatable {
    background-color: #F7F7F7;
}

.card {
    color: black;
    background-color: #F7F7F7;
}
.divtache {
    border: 3px solid gray;
    padding: 10px;
    background-color: #333 !important;
}  

.btn-action {
    /* float: right; */
    padding: 20px;
    margin-right: 10px;
} 

/*
tr, td, th {
    border: 2px solid white;
    padding: 10px;
}
*/

.form-check-label {
    color: black !important;
}

.gj-picker {
    color: black !important;
}

/*
#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
*/

#Btn_ConsulterTravail_Memo{
    border: none;
    margin: auto;
    display: block;
    font-size: 30px;
}

#Btn_ConsulterTravail_Memo:active{
    background-color: #ffffff;
}

#Btn_AjouterTravail {
    border: none;
    padding: 20px;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 20px;
}

#Btn_AjouterTravail:active {
    background-color: #ffffff;
}

#formModifier {
    color: white;
}

.bg-dark {
    background-color: #222 !important;
}

.conteneur-generique {
    background: white;
    color: black;
    padding: 9px;
    margin-bottom: 50px;
}

.table-etu {
    width: 100%;
}
.th-etu, .tr-etu, .td-etu {
    border: 2px solid #343a40;
}

.titre-conteneur-etu {
    text-align: center;
    font-weight: bold;
    background: #dc3545;
    padding: 20px;
    color: white;
}

#titre-confirmation {
    text-align: center;
}

.conteneur-confirmation {
    background: white;
    color: black;
    text-align: center;   
    margin-bottom: 80px;
    font-size: 25px;
}

.btn-tableau-bord {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.fa-minus-circle {
    color: red !important;
}

.fa-plus-circle {
    color: green !important;
}

.fa-redo {
    color: grey !important;
}

.terminer-text {
    display: table-cell;
    vertical-align: middle;
}

.itt-check::before, 
.itt-check::after {
    top: .35rem;
    width: 1.25rem;
    height: 1.25rem;
}

.custom-file-label {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.link { 
   color:blue; 
   text-decoration:underline; 
   cursor:pointer; 
   }

.btn-terminer:hover {
    text-decoration:underline;
}

/* POUR LES BEAUX BOUTONS: */
.btn-orange {
  background-color: #F27935;
}
.btn-orange .round {
  background-color: #f59965;
}
.btn-blue {
  background-color: #00a9ca;
}
.btn-blue .round {
  background-color: #3ec8e4;
}

.btn-black {
  background-color: #5A5B5E;
}
.btn-black .round {
  background-color: #838488;
}

.btn-1 {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.btn-1 span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 3px;
  top: 4px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a .round .fa-chevron-right  {
  left: 48%;
}
a .round .fa-plus {
  left: 39%;
}
a .round .fa-envelope {
  left: 36%;
}


.btxt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 8%;
}
</style>